@using GAME4YOU.Data
@using GAME4YOU.Entities
@using GAME4YOU.Services
@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase
@inject IServiceScopeFactory ScopeFactory
@inject Game4youDbContext dbContext
@inject CategoryService CategoryService

<div class="navbar">
    <NavLink href="/" style="text-decoration: none;">
        <span class="game-text">
            <span class="game">GAME</span>4YOU
        </span>
    </NavLink>

    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Szukaj..." @bind="SearchQuery">

        <div class="d-flex align-items-center">
            <div class="form-group me-3">
                <select id="categorySelect" class="form-select" @bind="SelectedCategoryId">
                    @foreach (var category in Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>

        <button class="search-button" @onclick="Search">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="icon-search">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
    </div>

<div class="nav-icons">
    <div class="profile-container">
        <NavLink href="/profile" style="text-decoration: none; color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="icon-profile">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
        </NavLink>
        <div class="nav-links">
            <NavLink href="/login" class="nav-link" style="text-decoration: none; color: white;">Zaloguj się</NavLink>
            <NavLink href="/register" class="nav-link" style="text-decoration: none; color: white;">Załóż konto</NavLink>
        </div>
    </div>

    <NavLink href="/cart" style="text-decoration: none; color: white;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-cart">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>
    </NavLink>
</div>
</div>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

@code {
    private string SearchQuery = "";
    private int SelectedCategoryId { get; set; } = 6;
    private List<Category> Categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        using (var scope = ScopeFactory.CreateScope())
        {
            var categoryService = scope.ServiceProvider.GetRequiredService<CategoryService>();
            Categories = await categoryService.GetCategoriesAsync();
        }
    }

    private void Search()
    {
        Console.WriteLine($"Szukam: {SearchQuery}...");
    }
}