body {
    background-color: #d9d9d9;
}

.product-list {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

    .product-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(149, 3, 211, 0.3), 0 0 5px rgba(149, 3, 211, 0.7);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: auto;
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
}

.product-category {
    font-size: 1em;
    color: #777;
    margin-bottom: 20px;
}

.product-pricehome {
    font-size: 1.4em;
    color: #007bff;
    font-weight: bold;
    margin-top: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    padding: 1rem;
    gap: 10px;
}

.game-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    font-family: Tahoma;
    text-decoration: none;
}

.game {
    background: linear-gradient(to right, #8A2BE2, #9932CC, #9400D3);
    -webkit-background-clip: text;
    color: transparent;
}

.game-navigation {
    text-decoration: none;
}

.saldo {
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}

.icon-profile {
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
}

.icon-cart {
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.icon-search {
    width: 20px;
    height: 20px;
    color: white;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-size: 14px;
    line-height: 0.5;
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.search-container {
    display: flex;
    align-items: center;
    background: white;
    overflow: hidden;
    border: 2px solid #343a40;
    border-radius: 8px;
    margin-right: 20px;
}

    .search-container:focus-within {
        border: 2px solid #9430d5;
    }

#categorySelect {
    border: none;
    clip-path: inset(0 0 0 0);
    outline: none;
    background-color: transparent;
    appearance: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
    display: block;
}

    #categorySelect:focus {
        box-shadow: none !important;
    }

.search-bar {
    border: none;
    border-right: 1px solid #ccc;
    padding: 8px 15px;
    font-size: 1rem;
    outline: none;
    width: 400px;
    color: rgba(0, 0, 0, 0.5);
}

.search-button {
    background: #9503d3;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: background 0.3s;
    border: none;
}



